body {}

/* social */
.social {
    position: absolute;
    bottom: 54%;
    right: 0;
    z-index: 9999;
    color: white;
    font-size: 18px;
}

.social ul {
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
}

.social ul li {
    font-size: 17px;
}

.social ul li a {}

.social ul li a:hover {}

.list-item {}

.social-f {}

.vartical {}

.vartical span {
    transform: rotate(-90deg);
    display: block;
    margin-top: 41px;
    margin-left: -25px !important;
    margin-right: 104px;
    text-transform: uppercase;
    font-size: 12px;
}

/* social */



/* navbar srart */
.navbar-custom {
    background: #00000000;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0;
    margin: -5px 0;
}

.navbar-nav>li>a {
    color: #fff;
    padding-bottom: 2px;
}

.container {}

.navbar-brand {}

.navbar-brand span {
    color: #66bfd6;
}

.navbar-brand {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3px;
}

.navbar-toggler {
    display: block;
    z-index: 9999;
    background-color: #40afcc;
    padding: 8px 16px 12px 12px;
}

.navbar-toggler-icon img {
    color: white;
}

.collapse {}

.navbar-collapse {}

.navbar-nav {
    padding-bottom: 18px;
}

.nav-item {
    /* padding-top: 0px; */
}

.dropdown {}

.nav-link:hover {
    background: #4d66587a;
    border-bottom: 2px solid;
    border-color: #66bfd6;
    display: block;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 0px;
    margin-right: 19px !important;
    margin-bottom: -14px;
    display: inline-block;
}

.fixed {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 69px;
    padding-bottom: 11px;
}

/* navbar end */

/* modal */
.modal {}

.m-content {}

.modal-dialog {}

.mo-2 {
    margin-top: 76px !important;
    display: block;
    left: 15%;
}

.modal-content {}

.modal-body {
    background: #6bbbf7 !important;
}

.dropdown-item {}

.dropdown-divider {}

/* modal */


/* carousel start */
.carousel {
    margin-top: ;
}

.lide {}

.carousel-indicators {}

.carousel-item {}

.carousel-caption {
    top: 90px !important;
}

.carousel-caption h1 {
    font-size: 40px;
}

.carousel-caption h1 span {
    font-size: 60px;
    color: #66bfd6;
}

.carousel-caption p {
    padding: 0 274px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-custom {
    margin-top: 30px;
}

.btn {}

.btn-outline-custom {}

.btn-outline-info {
    border-radius: 0 0 0 25px;
    padding: 15px 45px !important;
    margin-right: 10px;
    transition: all 0.6s ease;
}

.btn-outline-info:hover {
    background: #66bfd6 !important;
    color: white !important;
    font-weight: 700;
}

.btn-outline-prot {
    padding: 15px 45px !important;
    border: 2px solid;
    color: #66bfd6 !important;
    border-radius: 0 0 25px 0;
    margin-left: 10px;
    transition: all 0.6s ease;
}

.btn-outline-prot:hover {
    background: #66bfd6 !important;
    color: white !important;
}

.carousel-control-prev {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 323px;
    margin-left: 34px;
}

.carousel-control-prev span {}

.carousel-control-prev span img {}


.carousel-control-next {
    left: 0;
    top: 0;
    height: 162px;
    margin-top: 0px;
    display: inline-block;
    width: 118px;
    height: 310px;
    line-height: 580px;
}

.carousel-control-next span {
    width: 45px !important;
    height: 20px;
    margin-top: 10px;
}

.carousel-control-next span img {}




/* carousel end */

/* about me */

.about-me {
    padding-top: 125px;
}

.about-img {}

.about-img img {}

.about {}

.abouut h1 {}

.ht {
    position: relative;
    font-size: 130px;
    font-weight: 900;
    color: #f7f2f2;
    text-transform: uppercase;
}

.about h2 {}

.hb {
    position: absolute;
    top: 17px;
    left: 134px;
    font-size: 67px;
    font-weight: 800;
    text-transform: uppercase;
    color: #66bfd6;
}

.about p {
    font-size: 18px;
    padding-right: 76px;
    padding-left: 17px;
}


.skill {}

.skills-content {
    position: relative;
}

.skills-content h1 {
    margin-left: 42px;
}

.st {
    font-size: 100px;
    font-weight: 900;
    color: #f7f2f2;
    margin: 0 auto;
}

.skills-content h2 {}

.skil {
    padding: 128px 0 100px 0;
}

.sb {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 1020;
    top: 12px;
    left: 0;
    right: 0;
    color: #66bdf6;
}



/* develop */
.develop {
    margin-bottom: 63px;
}

.f-d {}

.font-d {}

.font-d h1 {
    text-align: center;
    text-transform: uppercase;
    color: #66dbf6;
    margin-bottom: 45px;
}

.font-e-d {
    padding: 0 76px;
}

.overlay {}

.overlay img {
    width: 100%;
}

.white-text {
    color: #fff !important;
    font-size: 18px;
    text-align: center;
}


.backend {
    margin-bottom: 63px;
}

.digital-m {}

.digital {
    margin-bottom: 63px;
}

.grapic {
    margin: 0 auto;
}

.grapic-d {
    margin: 0 auto;
}

.card {
    border-left: 3px solid;
    border-color: #66bfd6ad;
    border-bottom: 5px solid;
    border-bottom-color: #b5f9e25c;
    background: #f9f9f9;
    transition: all 0.4s ease;
}

.card:hover {
    background-image: url(../img/14.png);
    transition: all 0.4s ease;
    padding-left: 18px !important;
    border-bottom-color: #97d6e661;
    box-shadow: 5px 4px 19px #66bfd6ad !important;
}

.card::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    z-index: 1;
    background: #66bfd6;
    top: -10px;
    left: -12px;
    position: absolute;
    border-radius: 50px;
    border: 2px solid;
    border-color: #67bacf;
}

.card h3 {}

.card p {
    padding-right: 51px;
    font-size: 15px;
}

.btn-outline-card {
    border: 1px solid;
    border-color: black;
    border-radius: 0 0 10px 0;
}

.card:hover:after {
    background: #fff;
    transition: all 1s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    box-shadow: 0 0 20px #67bacf;

}

.ts {
    font-size: 116px;
}

.nav-pills-custom {
    display: block !important;
    padding: 9px 22px 9px 22px !important;
    border: 1px solid;
    margin-bottom: 10px !important;
    border-radius: 0 0 15px 0 !important;
    border-color: #66bdf6 !important;
    color: #66bfd6 !important;
    font-weight: 500 !important;
    /* display: inline-block !important; */
}

.nav-pills-custom:hover {

    color: white !important;
}

.nav-pills:active {
    color: white !important;
}

.project-modal {
    margin-top: 85px;
    background-image: url(../img/20.png);
    padding: 31px 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0 0 64px 0;
    border-color: #40afcc;
}

.next-project {}

.next-project h1 {
    font-size: 37px;
    padding: 0 90px 0 40px;
    color: white;
}

.next-project-modal {}

.modal-color-chose {}

.pad-back {
    padding: 0 140px !important;
}

.btn-custom-modal {
    background: white !important;
    color: #40afcc;
    font-size: 15px !important;
    font-weight: 600 !important;
    border: 1px solid !important;
    border-radius: 0 0 17px 0 !important;
    padding: 14px 38px;
    margin-left: 88px;
    margin-top: 17px;
}

.modal-footer {
    background: #40afcc;
}

.btn-outline-custom-modal {
    background: white;
    color: #40afcc !important;
    border: 2px solid;
    padding: 26px;
    box-sizing: border-box;
    display: inline-block !important;
}

.btn-outline-custom-modal:hover {}

.modal-dialog.modal-notify .modal-body {

    color: #fff !important;
}

.link {
    margin: 80px 0;
    padding-left: 0px;
}

.github {
    overflow: hidden;
    background: #dbebef;
    border: 1px solid;
    border-radius: 0 0 21px 0;
    padding: 22px 0px;
}

.github img {
    height: 48px;
    background: #66baba96;
    display: block;
    float: left;
    margin-right: 24px;
    margin-left: 42px;
    background: white;
}

.github p {
    align-items: center !important;
    margin-top: 12px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

.from {}

.link-1 {}

.footer-copyright {
    background: #66baba;
}